text {
  fill: #ddd;
}

polyline {
  stroke: #ddd;
}
path {
  stroke: #ddd;
}

rect.module-background, .background-fill {
  fill: #222;
}
polyline.module-border-inner {
  stroke: #191919;
}
polyline.module-border-middle {
  stroke: #111;
}
polyline.module-border-outer {
  stroke: #000;
}

rect.input-background, rect.input-background-filler {
  fill: #aaa;
}
rect.output-background, rect.output-background-filler {
  fill: #666;
}
text.input-label {
  fill: #333;
}
polyline.input-label, path.input-label {
  stroke: #333;
}
text.output-label {
  fill: #ddd;
}
polyline.output-label, path.output-label {
  stroke: #ddd;
}
