text {
  fill: #eee;
}

polyline {
  stroke: #ccc;
}
path {
  stroke: #ccc;
}

rect.module-background, .background-fill {
  fill: #111;
}
polyline.module-border-inner {
  stroke: #191919;
}
polyline.module-border-middle {
  stroke: #111;
}
polyline.module-border-outer {
  stroke: #000;
}

rect.input-background, rect.input-background-filler {
  fill: #aaa;
}
rect.output-background, rect.output-background-filler {
  fill: #666;
}
text.input-label {
  fill: #222;
}
polyline.input-label, path.input-label {
  stroke: #222;
}
text.output-label {
  fill: #ddd;
}
polyline.output-label, path.output-label {
  stroke: #ddd;
}

circle.port-rim {
  stroke: #ccc;
}
circle.port-barrel {
  stroke: #222;
  fill: #222;
}
circle.knob-center {
   fill: #bbb;
}
circle.knob-rim {
   fill: #555;
}
circle.knob-tick {
  fill: #fff;
}
polyline.knob-tick {
  stroke: #fff;
}
