text {
  fill: #333;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
text.title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: normal;
}
text.brand {
  font-family: 'Audiowide', sans-serif;
  font-weight: bold;
}
