text {
  fill: #333;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
text.title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: normal;
}
text.brand {
  font-family: 'Audiowide', sans-serif;
  font-weight: bold;
}

path, polyline {
  stroke: #333;
}

rect.module-background, .background-fill {
  fill: #ddd;
}
polyline.module-border-inner {
  stroke: #e4e4e4;
}
polyline.module-border-middle {
  stroke: #ebebeb;
}
polyline.module-border-outer {
  stroke: #f2f2f2;
}
