text {
  fill: #333;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
text.title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: normal;
}
text.brand {
  font-family: 'Audiowide', sans-serif;
  font-weight: bold;
}

polyline {
  stroke: #333;
}
path {
  stroke: #333;
}

rect.module-background, .background-fill {
  fill: #ddd;
}
polyline.module-border-inner {
  stroke: #e4e4e4;
}
polyline.module-border-middle {
  stroke: #ebebeb;
}
polyline.module-border-outer {
  stroke: #f2f2f2;
}

g.io-group {
}
rect.input-background, rect.input-background-filler {
  fill: #fafafa;
}
rect.output-background, rect.output-background-filler {
  fill: #bbb;
}
text.input-label, text.output-label {
  /* font-size: 6pt; */
}
polyline.input-label, polyline.output-label {
}
path.input-label, path.output-label {
}
